# Config and Htaccess Files
/upload/.htaccess
/upload/config.php
/upload/admin/config.php

# Image File
!/upload/image/no_image.jpg

# Image Cache Files
/upload/image/cache/*
!/upload/image/cache/index.html

# Templates Files
/upload/image/templates/*
/upload/image/templates/default.jpg

# Backup Files
/upload/system/storage/backup/*
!/upload/system/storage/backup/index.html

# System Cache Files
/upload/system/storage/cache/*
!/upload/system/storage/cache/index.html

# Download Files
/upload/system/storage/download/*
!/upload/system/storage/download/index.html

# Log Files
/upload/system/storage/logs/*
!/upload/system/storage/logs/index.html

# Marketing Files
/upload/system/storage/marketing/*
!/upload/system/storage/marketing/index.html

# Modification Files
/upload/system/storage/modification/*
!/upload/system/storage/modification/index.html

# Session Files
/upload/system/storage/session/*
!/upload/system/storage/session/index.html

# Upload Files
/upload/system/storage/upload/*
!/upload/system/storage/upload/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /upload/flags/*

# If you want to ignore install file use following lines [on development mode]
# /upload/backup.install/*
# /upload/install/*

/tests/phpunit/vendor/*
/tests/phpunit/composer.lock
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
*.php
*.md
storage-oc3100a1/vendor/guzzlehttp/ringphp/Makefile
*.rst
*.dist
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/pre-commit/check-php
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/pre-commit/check-python
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/jshint
*.1532972440
*.html
*.log
storage-oc3100a1/session/sess_3f297f359900172da3d9f97c54
storage-oc3100a1/vendor/bin/pscss
*.bat
*.sh
*.json
*.crt
storage-oc3100a1/vendor/braintree/braintree_php/LICENSE
storage-oc3100a1/vendor/braintree/braintree_php/Rakefile
storage-oc3100a1/vendor/cardinity/cardinity-sdk-php/LICENSE
storage-oc3100a1/vendor/composer/LICENSE
*.yml
*.po
*.mo
*.txt
*.xlf
*.xsd
*.gif
*.xml
*.test
*.twig
*.js
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/commit-msg/message-format
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/commit-msg/ticket-number
*.phar
storage-oc3100a1/vendor/twig/twig/LICENSE
storage-oc3100a1/vendor/twig/twig/CHANGELOG
storage-oc3100a1/vendor/symfony/validator/Tests/Constraints/Fixtures/foo
storage-oc3100a1/vendor/symfony/validator/LICENSE
*.csv
*.ts
*.ini
*.res
*.dat
storage-oc3100a1/vendor/symfony/translation/LICENSE
storage-oc3100a1/vendor/guzzlehttp/guzzle/LICENSE
storage-oc3100a1/vendor/guzzlehttp/log-subscriber/LICENSE
storage-oc3100a1/vendor/guzzlehttp/oauth-subscriber/LICENSE
*.py
storage-oc3100a1/vendor/guzzlehttp/ringphp/docs/Makefile
storage-oc3100a1/vendor/guzzlehttp/ringphp/LICENSE
storage-oc3100a1/vendor/leafo/scssphp/bin/pscss
storage-oc3100a1/vendor/symfony/polyfill-ctype/LICENSE
storage-oc3100a1/vendor/symfony/polyfill-mbstring/LICENSE
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/pre-commit/check-js
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/pre-commit/check-coffee
storage-oc3100a1/vendor/klarna/kco_rest/git_hooks/coffeelint
*.lock
storage-oc3100a1/vendor/guzzlehttp/streams/Makefile
storage-oc3100a1/vendor/guzzlehttp/streams/LICENSE
storage-oc3100a1/vendor/psr/log/LICENSE
storage-oc3100a1/vendor/react/promise/LICENSE
